In [26]:
import pandas as pd
obj=pd.Series([4,7,-5,3])
obj
obj.index
obj.values
obj2=pd.Series([4,7,-5,3],index=['d','b','a','c'])
obj2
obj2.index
obj2['a']
obj2['d']=6
obj2[['c','a','d']]#加中括号
obj2['d':'a']=6
obj2
obj[obj>0]
obj*2
import numpy as np
np.exp(obj)
3 in obj2

False

In [38]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3=pd.Series(sdata)
obj3
states=['California','Ohio','Oregon','Texas']
obj4=pd.Series(sdata,index=states)
obj4
pd.isnull(obj4)
pd.notnull(obj4)
obj4.isnull()
obj4.notnull()
obj3+obj4
obj4.name='population'
obj4.index.name='state'
obj4
obj
obj.index=['Bob','Steve','Jeff','Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [32]:
#DataFrame
import pandas as pd
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
      'year':[2000,2001,2002,2001,2002,2003],
      'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame=pd.DataFrame(data)
frame
frame.head()
pd.DataFrame(data,columns=['year','state','pop'])
frame2=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five','six'])
frame2
frame2.columns
frame2['state']
frame2.debt#列
frame2.loc['three']#行
frame2['debt']=16.5
frame2
import numpy as np
frame2['debt']=np.arange(6.)
frame2
val=pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])
frame2['debt']=val
frame2
frame2['eastern']=frame2.state=='Ohio'
frame2
del frame2['eastern']
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [50]:
pop={'Nevada':{2001:2.4,2002:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}
frame3=pd.DataFrame(pop)
frame3
frame3.T
pd.DataFrame(frame3,index=[2001,2002,2003])
pdata={'Ohio':frame3['Ohio'][:-1],'Nevada':frame3['Nevada'][:2]}
pd.DataFrame(pdata)
frame3.index.name='year';frame3.columns.name='state'
frame3.values

array([[nan, 1.5],
       [2.4, 1.7],
       [2.9, 3.6]])

In [9]:
import pandas as pd
import numpy as np
obj=pd.Series(range(3),index=['a','b','c'])
index=obj.index
index
index[1:]
labels=pd.Index(np.arange(3))
labels
obj2=pd.Series([1.5,-2.5,0],index=labels)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [15]:
obj=pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])
obj
obj2=obj.reindex(['a','b','c','d','e'])
obj2
obj3=pd.Series(['blue','purple','yellew'],index=[0,2,4])
obj3.reindex(range(6),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellew
5    yellew
dtype: object

In [23]:
frame=pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'],columns=['Ohio','Texas','California'])
frame
frame2=frame.reindex(['a','b','c','d'])
frame2
states=['Texas','Utah','California']
frame.reindex(columns=states)
frame.loc[['a','b','c','d'],states]#顺序不可调换

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  import sys

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

In [39]:
obj=pd.Series(np.arange(5.),index=['a','b','c','d','e'])
new_obj=obj.drop('c')
new_obj
obj.drop(['d','c'])
obj.drop('c',inplace=True)
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [42]:
data=pd.DataFrame(np.arange(16).reshape((4,4)),index=['Ohio','Colorado','Utah','New York'],columns=['one','two','three','four'])
data
data.drop(['Colorado','Ohio'])
data.drop('two',axis=1)
data.drop(['two','four'],axis='columns')
data.drop(['two','four'],axis='columns',inplace=True)
data

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [58]:
obj=pd.Series(np.arange(4.),index=['a','b','c','d'])
obj['b']
obj[1]
obj[2:4]
obj[['b','a','d']]
obj[[1,3]]
obj[obj<2]
obj['b':'c']=5
obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [11]:
import pandas as pd
import numpy as np
data=pd.DataFrame(np.arange(16).reshape((4,4)),index=['Ohio','Colorado','Utah','New York'],columns=['one','two','three','four'])
data['two']
data[['three','one']]
data[:2]#前两行
data[1:3]
data[data['three']>5]
data<5
data[data<5]=0
data.loc['Colorado',['two','three']]
data.iloc[2,[3,0,1]]
data.iloc[2]
data.iloc[[1,2],[3,0,1]]
data.loc[:'Utah','two']
data.iloc[:3,2]
data.iloc[:,:3][data.three>5]
data['two']
data.loc['Ohio']
data.loc[:,'three']
data.iloc[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int32

In [23]:
ser=pd.Series(np.arange(3.))
ser2=pd.Series(np.arange(3.),index=['a','b','c'])
ser.loc[:1]
ser.iloc[:1]
s1=pd.Series([7.3,-2.5,3.4,1.5],index=['a','c','d','e'])
s2=pd.Series([-2.1,3.6,-1.5,4,3.1],index=['a','c','e','f','g'])
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [38]:
df1=pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
df2=pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
df2.loc[1,'b']=np.nan
df1
df2
df1+df2
df1.add(df2,fill_value=0)
1/df1
df1.rdiv(1)
df1.reindex(columns=df2.columns,fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

In [43]:
arr=np.arange(12.).reshape((3,4))
arr[0]
arr-arr[0]
frame=pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])
series=frame.iloc[0]#行
frame-series

In [51]:
series2=pd.Series(range(3),index=list('bef'))
frame+series2
series3=frame['d']#列
frame.sub(series3,axis=0)

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [58]:
frame=pd.DataFrame(np.random.randn(4,3),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])
frame
np.abs(frame)
frame.abs()
f=lambda x:x.max()-x.min()
frame.apply(f)#列
frame.apply(f,axis=1)#行

Utah      2.719446
Ohio      1.912165
Texas     1.930505
Oregon    1.260397
dtype: float64

In [84]:
def f(x):
    return pd.Series([x.min(),x.max()],index=['min','max'])
frame.apply(f)
format=lambda x:'%.2f'%x
frame.applymap(format)
frame['b'].map(format)
obj=pd.Series(range(4),index=['d','a','b','c'])
obj.sort_index()
frame=pd.DataFrame(np.arange(8).reshape((2,4)),index=['three','one'],columns=list('dabc'))
frame.sort_index(axis=1,ascending=False)#列，倒序
obj=pd.Series([4,np.nan,7,np.nan,-3,2])
obj.sort_values()
frame=pd.DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})
frame.sort_values(by='b')
frame.sort_index(axis=1).sort_values(by=['a','b'])
obj=pd.Series([7,-5,7,4,2,0,4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [97]:
obj=pd.Series([7,-5,7,4,2,0,4])
obj.rank(method='first')
obj.rank(ascending=False,method='max')
frame=pd.DataFrame({'b':[4.3,7,-3,2],'a':[0,1,0,1],'c':[-2,5,8,-2.5]})
frame.sort_index(axis=1).rank(axis=1)

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

In [13]:
import pandas as pd
import numpy as np
df=pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],index=['a','b','c','d'],columns=['one','two'])
df.sum(axis=1,skipna=False)
df.idxmax()
df.idxmin(axis=1)
df.cumsum()
df.describe()
df['one'].argmax()

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  if __name__ == '__main__':

'b'

In [25]:
obj=pd.Series(['c','a','d','a','a','b','b','c','c'])
uniques=obj.unique()
uniques
obj.value_counts()
pd.value_counts(obj.values,sort=False)
obj
mask=obj.isin(['b','c'])
mask
obj[mask]
to_match=pd.Series(['c','a','b','b','c','a'])
unique_vals=pd.Series(['c','b','a'])
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int64)

In [28]:
data=pd.DataFrame({'Qu1':[1,3,4,3,4],'Qu2':[2,3,1,2,3],'Qu3':[1,5,2,4,4]})
data.apply(pd.value_counts).fillna(0)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0